fastapi
uvicorn[standard]
pydantic
python-multipart
langchain
langchain-community

langchain-huggingface
langchain-google-genai
google-generativeai
sentence-transformers

faiss-cpu


pypdf

python-dotenv
